# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
venv/
env/
.venv/
.env

# --- Jupyter Notebooks ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# --- IDEs and System Configuration ---
.vscode/
.idea/

# Others
.DS_Store
Thumbs.db
Desktop.ini
